/build*
/eval/data
test/core
test/proposals
test/*.log
test/tailcall/*.S
node_modules/
__pycache__/
plot/
.project
.cproject
.settings
.vscode
tags
.idea/
**/.cxx/
platforms/android/app/src/main/assets/
